# Build artifacts
build/
dist/

# Git/GitHub
.git/
.github/
.gitignore

# Python specific files
**/__pycache__
**/.mypy_cache/
**/.pylintrc/
**/.pytest_cache/
**/*.py[cod]
**/*.egg
**/tests/
pytest.ini
tox.ini

# C extensions
*.so

# pyenv
**/.python-version

# Virtual Environments
**/.env
**/.venv
**/env/
**/venv/

# Editors
**/.vscode/
**/.idea/

# Docker
docker-compose.yml
docker-compose.yaml
Dockerfile

# Project files
.editorconfig
bors.toml
CONTRIBUTING.md
README.md
assets/

# System files
.DS_Store
