[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Scrapy = "==2.3.0"
selenium = "==3.141.0"
pytest = "==6.0.0"
meilisearch = "==0.12.3"
requests-iap = "==0.2.0"

[dev-packages]
pylint = "==2.5.3"

[requires]
python_version = "3.8"
