[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Scrapy = "==2.5.0"
selenium = "==3.141.0"
pytest = "==6.2.0"
meilisearch = "==0.14.1"
requests-iap = "==0.2.0"
python-keycloak-client = "==0.2.3"

[dev-packages]
pylint = "==2.6.2"

[requires]
python_version = "3.8"
